@import '../../common/css/rpx.scss';
@import '../../common/css/const.scss';
@import '../../common/css/mixin.scss';
.cat-item-ctner{
    position: relative;
    @include borderBottomOnePx;
    padding: rpx(30) rpx(20);
    background: #FFF;
    border-radius: rpx(10);
    overflow: hidden;
    .order-status-order {
        height: rpx(28);
        display: flex;
        align-items: center;
        font-size: rpx(16);
        margin-bottom: rpx(30);
        // text:nth-of-type(1) {
        //     font-size: rpx(16);
        // }
        text:nth-of-type(2) {
            color: $color-word-alarm;
            flex: 1;
            text-align: right;
        }
        image {
            width: rpx(11);
            height: rpx(18);
            margin-left: rpx(10);
        }
    }
    .goods-outer {
        display: flex;
        align-items: center;
    }
    .cat-m {
        width: rpx(124);
        height: rpx(124);
        margin: 0 rpx(26) 0 rpx(16);
        image{
            width: 100%;
            height: 100%;
        }
    }
    .cat-m-t {
        flex: 1;
        .goods-name {
            font-size: rpx(32);
            color: $color-word-one;
        }
        .goods-des {
            font-size: rpx(20);
            color: $color-word-three;
            margin: rpx(16) 0 rpx(20) 0;
        }
        .goods-name,
        .goods-des {
            display: flex;
            justify-content: space-between;
        }
    }
    .order-num-outer {
      line-height: rpx(20);
      font-size: rpx(16);
      text-align: right;
      margin: rpx(70) 0 rpx(5) 0;
      view{
        margin: rpx(10) 0;
      }
      .q1 {
        padding: rpx(20) 0;
        border-bottom: rpx(2) solid #EEEEEE;
        text:nth-of-type(2) {
          color: $color-word-alarm;
          font-weight: bold;
        }
      }
      .q2 {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        border-bottom: rpx(2) solid #EEEEEE;
        padding: rpx(20) 0;
        image{
          margin-left: rpx(10);
          width: rpx(22);
          height: rpx(8);
        }
      }
      .q3 {
        padding: rpx(20) 0;
        .q-3 {
          color: $color-word-alarm;
          font-weight: bold;
          font-size: rpx(26);
        }
      }
      .q4{
        padding: rpx(20) 0;
        border-bottom: rpx(2) solid #EEEEEE;
        text:nth-of-type(2) {
          color: $color-word-alarm;
          font-weight: bold;
        }
      }
    }
    .sub-same,
    .sure-same-outer {
        position: relative;
        padding: rpx(16) 0;
        @include borderBottomOnePx;
        display: flex;
        align-items: center;
    }
    .sub-same {
        justify-content: space-between;
    }
    .s-num,
    .s-type {
        text:nth-of-type(2) {
            font-size: rpx(18);
            color: $color-word-three;
        }
    }
    .s-word {
        input {
            border-radius: 0;
            flex: 1;
            background: #FFF;
        }
    }
}
