@import '../../common/css/rpx.scss';
@import '../../common/css/const.scss';
@import '../../common/css/mixin.scss';
/* 自定义模态框 start */
.modal-mask { //阴影
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.5;
  overflow: hidden;
  z-index: 2147483647;
  color: #fff;
}

.modal-content { //弹框
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  //top: 30%;
  //width: 608rpx;
  //height: 62%;
  //margin: -180rpx 70rpx;
  z-index: 2147483647;
  overflow: scroll;
  overflow-x: hidden;
  background: #fff;
  border-radius: 10 rpx;
  .content-exchang{
    .btn-content {
      display: flex;
      padding: rpx(60) 0;
      justify-content: space-around;
      .m-item{
        margin: rpx(20);
        border-radius: rpx(10);
        //border: 1px solid #BFBFBF;
        view:nth-of-type(1){
          font-size: rpx(34);

        }
        view:nth-of-type(2){
          image{
            width: rpx(100);
            height: rpx(80);
          }
        }
      }
      .activeQ{
        border:rpx(2) solid $color-word-alarm;
      }
    }

  }

}

/* 自定义模态框 end */

